#web
streamlit
streamlit-folium

#maps
folium

# # packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn  # Only used for .preprocessing MinMaxScaler()
geopandas
shapely
geopy # Only used for .geocoders
overpy
geojson
esy.osmfilter
rtree

# tests/linter
black
coverage
flake8
pytest
yapf

# # API
gcsfs
# google-cloud-storage
fsspec
# mlflow
s3fs

# utilities
six>=1.14
# joblib
# memoized-property
# termcolor
typing_extensions
matplotlib
scikit-image
# difflib
